button{
    background-color: #C55252;
    color:white;
    font-weight:200;
    padding:5px;
    border:none;
    border-radius: 4px;
}
.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.3);
    z-index: 9999;  
}

.model {
    background-color: #A5D0E0;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}
